.tableArea {
    margin-top: 2em;
}

button {
    margin-top: 1em;
}

.resultFields {
    margin-bottom: 2em;
}


.formatCheckBox {
    margin-top:1em;
 }



.formatCheckBox label {
    font-weight: normal;
}


.formContainer {
    padding: 2em;
}
