.tableArea {
    margin-top: 2em;
}

button {
    margin-top: 1em;
}

.resultFields {
    margin-bottom: 2em;
}

.formatCheckBox {
   margin-top:1em;
}

.formatCheckBox label {
    color :#8e9494;
    font-weight: normal;
}